
.page-hero {
	background: $dk-grey $hero-01 no-repeat center;
	background-size: cover;
}

.page-hero .container {
	position: relative;
	min-height: $base*10;

	@include bp-min-width($medium) {
		min-height: $base*20;
	}
}

.page-hero .page-title {
	@include vertical-center;
	color: #fff;
}

.page-hero .page-title:last-child {
	margin-bottom: 0;
}

.page-content .container {
  max-width: 700px;

	@include bp-min-width($medium) {
		padding-top: $base*6;
		padding-bottom: $base*6;
	}
}
