
.footer {
	position: relative;
	background: $dk-grey;
	color: #fff;
}

.footer a {
	color: #fff;
}

.footer .title__h3 {
	margin-bottom: 12px;
}

.footer p {
	@include font-units(14px, 20px);
}

.footer p:not(:last-child) {
	margin-bottom: $base;
}

.footer-logo,
.footer-contact {
	@include bp-max-width($medium) {
		margin-bottom: $base;
	}
}

.footer-logo .icon-logo {
	fill: $yellow;
}

.footer-contact-link {
	@include bp-min-width($medium) {
		display: flex;
		justify-content: flex-end;
	}
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: $yellow;
  border-radius: 50%;

	@include bp-max-width($medium) {
		position: absolute;
		top: 40px;
		right: 20px;
		width: 48px;
	  height: 48px;
	}
}
